*{
 margin:0;
 padding:0;
 box-sizing: border-box;
}
body{
 background:salmon;
 font-family: Arial, Helvetica, sans-serif;
}
section{
 display: grid;
 place-items: center;
}
.single{
 padding:1rem;
 margin:0.5rem;
 background: white;
 width:90vw;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
button{
 padding:0.4rem;
}
button:hover{
 background:blue;
 color:white;
 border:none;
 border-radius: 0.2rem;
}